@import 'mixins', 'colors', 'breakpoints';

.about {
   &__title { 
      color: $color-secondary-light;
      margin-bottom: 10px;
      @include H3;
      @media (min-width: $breakpoint-md) {
         margin-bottom: 60px;
         @include H2;
      }
   }

   &__subtitle {
      display: block;
      width: 100%;
      color: $color-secondary-main;
      text-transform: uppercase;
      text-align: center;
      margin-top: 40px;
      @include Body4;
      @media (min-width: $breakpoint-md) {
         margin: 0 0 40px 0;
         @include Body3;
      }
   }

   &__skills-space {
      @include flex(row);
      flex-flow: wrap;
      justify-content: space-around;
      width: 100%;
      margin-top: 30px;
      @media (min-width: $breakpoint-md) {
         width: 91%;
         margin: 0 auto;
         margin-bottom: 34px;
      }
   }

   &__skill {
      text-align: center;
      @include Body3;
      margin-bottom: 16px;
      &_hard, &_soft {
         margin-right: 24px;
      }
      @media (min-width: $breakpoint-md) {
         @include Body1;
         margin-bottom: 30px;
         &_hard {
            margin-right: 57px;
         }
         &_soft {
            margin-right: 48px;
         }
      }
   }
}