@import 'mixins', 'colors', 'breakpoints';
@import 'hero', 'projects', 'about', 'contacts';

* {
   box-sizing: border-box;
   margin: 0;
   padding: 0;
}

body {
   font-family: 'Roboto', sans-serif;
   line-height: 24px;
   color: $color-primary-main
}

.container {
   max-width: 945px;
   margin: 0 auto;
   padding: 50px 0;
   @include flex(column);
   @media (max-width: 1005px) {
      padding: 40px 30px;
   }
}

a {
   color: $color-white;
   text-decoration: none;
   cursor: pointer;
}

.socials {
   width: 144px;
   @include flex(row);
   
   &_header {
      @media (max-width: 420px) {
         visibility: hidden;
      }
      margin: 0 20px 190px auto;
      .social__icon {
         fill: $color-primary-main;
      }
      .social__link:hover {
         .social__icon {
            fill: $color-secondary-main;
         }
      }
      @media (min-width: $breakpoint-sm) {
         margin: 0 auto 300px 0;
      }
      @media (min-width: 990px) {
         margin-bottom: 25%;
      }
   }
   
   &_footer {
      .social__icon {
         fill: $color-white;
      }
      @media (max-width: $breakpoint-md) {
         width: auto;
         margin: 0 auto;
         .social__link {
            margin: 0 12px;
         }
      }
   }
}